.list-group-title {
    font-size: 22px;
    margin-bottom: 0px;
    display: inline;
    text
}

.rectangle {
    width: 10px;
    height: 40px;
    background: red;
    display: inline-block;
    margin-right: 25px;
}

.link {
    text-align: center;
    display: inline;
    position: relative;
    font-size: 25px;
    top: -10px;
}

.badge {
    float: right;
    position: relative;
    top: 12px;
    font-size: 20px;
}

.badge-success {
    background-color: #398439;
}
