small {
    margin-left: 10px;
}

#your-account-dropdown {
    float: right;
}

.list-group-title {
    font-size: 22px;
    margin-bottom: 0px;
}

.heat-square {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    display: inline-block;
}

.right {
    float: right;
}

.profile-right {
    float: right;
}
.profile-left {
    float:left;
}

.profile-cover-photo {
    background-image: url(https://pbs.twimg.com/profile_banners/246064908/1438716808/600x200);
    background-size: 100%;
    border-bottom: 1px solid #e1e8ed;
    /*changed from 95 to 85*/
    height: 85px;
    border-radius: 4px 4px 0 0;
    background-position: 0 50%;
    width: 100%;
    padding: 0 1px;
    margin-left: -1px;
    margin-top: -1px;
}

.profile-avatar {
    background-color: #fff;
    border-radius: 6px;
    margin: -30px 0 0 8px;
    padding: 1px;
    vertical-align: bottom;
    display: inline-block!important;
    max-width: 100%;
}

.profile-avatar-image {
    border-radius: 7px;
    height: 72px;
    width: 72px;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
}

.profile-user-fields {
    position: absolute;
    top: 93px;
    left: 110px;
    width: 185px;
}

.profile-first-last {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin: -1px 0 -2px 0;
}

.profile-email {
    display: inline-block!important;
    max-width: 100%;
    font-size: 12px;
    padding-right: 5px;
    color: #66757f;
}

.profile-email[dir="ltr"] {
    direction: ltr!important;
    text-align: left!important;
    unicode-bidi: embed;
}

.profile-stats {
    margin-left: 11px;
    padding: 10px 0;
    list-style: none;
}

.arrange-equal {
    table-layout: fixed;
}

.arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}

 .arrange-equal>.arrange-size-fit {
    width: 1%;
}
 .arrange-bottom .arrange-size-fit {
    vertical-align: bottom;
}
.Arrange-size-fit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}

.profile-stat {
    box-sizing: border-box;
    line-height: 1;
    overflow: hidden;
    transition: all .15s ease-in-out;
}

.profile-stat-link {
    color: #21ce99 !important;
    display: block!important;
}

.profile-stat-label {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: .02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color .15s ease-in-out;
    display: block;
}

.profile-stat-value {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-top: 3px;
    transition: color .15s ease-in-out;
}

.glyphicon-home {
    color: #21ce99;
}

.breadcrumb {
    color: #21ce99;
}
