<div class="container profile-page">
    <ol class="breadcrumb">
        <li>
            <span class="glyphicon glyphicon-home"></span>
        </li>
        <li class="active">
            Profile
        </li>

    </ol>

    <div class="col-md-3 profile-left">
        <div class="profile-cover-photo" tabindex="-1">

        </div>
        <div class="profile-content">
            <a class = "profile-avatar" tabindex="-1">
                <img class = "profile-avatar-image" src="https://pbs.twimg.com/profile_images/704424754455810048/pWLnUeet_bigger.jpg"/>
            </a>
        </div>
        <div class = "profile-user-fields">
            <p class = "profile-first-last">
                {{ profile.first_name }} {{ profile.last_name }}
            </p>
            <span class = "profile-email" dir="ltr">
                <p>
                    {{ profile.email }}
                </p>
            </span>
        </div>
        <div class="profile-stats">
            <ul class = "profile-stats-list arrange arrange-bottom arrange-equal">
                <li class = "profile-stat arrange-size-fit" >
                    <a class = "profile-stat-link">
                        <span class = "profile-stat-label">Lists</span>
                        <span class = "profile-stat-value">{{ lists?.length }}</span>
                    </a>
                </li>
                <li class = "profile-stat arrange-size-fit" >
                    <a class = "profile-stat-link">
                        <span class = "profile-stat-label">Items</span>
                        <span class = "profile-stat-value">{{ numItems }}</span>
                    </a>
                </li>
                <li class = "profile-stat arrange-size-fit" >
                    <a class = "profile-stat-link">
                        <span class = "profile-stat-label">$$$</span>
                        <span class = "profile-stat-value">{{ price | number : '.2' }}</span>
                    </a>
                </li>

            </ul>

        </div>

    </div>



    <div class="col-md-9 profile-right">
        <lists [model] = "lists"></lists>
    </div>


    <div class = "col-md-3 profile-left">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                <p class="list-group-title">Heatmap</p>
            </li>
            <li class="list-group-item">
                <div id="heatmap" *ngIf = "profile?.heatmap">
                    <div *ngFor="let day of days"
                    [ngStyle]="{'background-color': setHeatSquareStyle(day)}"
                    class="heat-square">
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
