<div class="container list-editor-page">
   <ol class="breadcrumb">
      <li>
         <a routerLink="/profile">
            <span class="glyphicon glyphicon-home"></span>
         </a>
      </li>
      <li>
         <a routerLink="/profile" class = "breadcrumb-link">
            Lists
         </a>
      </li>
      <li class="active">
         {{ list.title }}
      </li>
   </ol>

   <div class="row">
      <div class="col-md-7">
         <div class="panel panel-info">
            <div class="panel-heading">
               List information
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="list-name">
                       List Title
                    </label>
                    <input class="form-control"
                       [(ngModel)]="list.title"
                       id = "list-name"/>
               </div>
               <div class="form-group">
                  <label for="store_id">
                     Store
                  </label>
                  <select id="store_id"
                     class="form-control"
                     [(ngModel)]="list.store_id"
                     (change) = "onChange($event.target.value)">
                     <option></option>
                     <option *ngFor="let store of stores"
                        [value]="store.store_id" >
                        {{ store.title }}
                     </option>
                  </select>
               </div>
               <div>
                    <label for="peak-hours">
                      Peak hours
                    </label>
                    <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">{{dayOfWeek}}
                                <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li *ngFor="let day of weekdays"><a (click)="setDayOfWeek(day)">{{day}}</a></li>
                          </ul>
                    </div>
                    <br>
                    <div class="hour-column hour-bar"
                     *ngFor="let column of busyness"
                     [ngStyle]="{height: getColumnHeight(column)}">
                    </div>
                    <br>
                    <div *ngFor="let column of busyness; let i=index"
                         class="hour-column">
                         <div *ngIf="i%3 === 0"
                              class="hour-column-label">{{getColumnLabel(i+1)}}</div>
                    </div>
                </div>
               <div class = "form-group">
                   <label for="store-address">
                       Store Address
                   </label>
                   <p id = "store-address">
                       {{ indivStore.address }}
                   </p>
               </div>

               <div class = "store-map" >
                    <sebm-google-map [latitude]="lat" [longitude]="lng" style="height:300px;" [zoom]="zoom">
                        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
                    </sebm-google-map>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-5" [hidden] = "!list?.list_id">
         <item-editor [model]="list.items" [store] = "list.store_id" [list] = "list.list_id">

        </item-editor>
      </div>
      <div class="col-md-12">
          <div *ngIf = "newButton" class = "space">
              <a class="btn btn-success btn-block btn-lg"
                 (click)="addList()">
                 Add List
              </a>
          </div>
          <div *ngIf = "old" class = "space">
              <a class="btn btn-success btn-block btn-lg"
                 (click)="save()">
                 Save
              </a>
          </div>
          <div class = "space">
              <a class="btn btn-danger btn-block btn-lg" (click)="delete()">
                 Delete
              </a>
          </div>
          <div class = "space">
              <a class="btn btn-default btn-block btn-lg"
                 routerLink="../../">
                 Return to Lists
              </a>
          </div>


      </div>
   </div>
</div>
