<div class="container">
   <ol class="breadcrumb">
      <li>
         <a routerLink="/">
            <span class="glyphicon glyphicon-home"></span>
         </a>
      </li>
      <li>
         <a routerLink="/lists">
            Lists
         </a>
      </li>
      <li class="active">
         {{ list.title }}
      </li>
   </ol>
   <div class="row">
      <div class="col-md-7">
         <div class="panel panel-info">
            <div class="panel-heading">
               List information
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="list-name">
                       List Title
                    </label>
                    <input class="form-control"
                       [(ngModel)]="list.title"
                       id = "list-name"/>
               </div>
               <div class="form-group">
                  <label for="store_id">
                     Store
                  </label>
                  <select id="store_id"
                     class="form-control"
                     [(ngModel)]="list.store_id"
                     (change) = "onChange($event.target.value)">
                     <option></option>
                     <option *ngFor="let store of stores"
                        [value]="store.store_id" >
                        {{ store.title }}
                     </option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-5">
         <item-editor [model]="list.items" [store] = "list.store_id" [list] = "list.list_id">

        </item-editor>
      </div>
      <div class="col-md-12">
          <div *ngIf = "list.items?.length == 0">
              <a class="btn btn-primary btn-block btn-lg"
                 (click)="addList()">
                 Add List
              </a>
          </div>
         <a class="btn btn-primary btn-block btn-lg"
            (click)="save()">
            Save
         </a>
         <a class="btn btn-default btn-block btn-lg"
            routerLink="../../">
            Return to Lists
         </a>
      </div>
   </div>
</div>

<pre>
    {{list|json}}
</pre>
