.breadcrumb-link {
    color: #21ce99;
}

.glyphicon-home {
    color: #21ce99;
}

.panel-heading {
    background-color: #e7fff8;
    color: #168865;
}

input[id="list-name"]:focus {
    border-color: #21ce99;
}

select[id="store_id"]:focus {
    border-color: #21ce99;

}

.hour-column {
    display: inline-block;
    width: 20px;
}

.hour-bar {
    background-color: #21ce99;
    border-radius: 4px 4px 0 0;
    border: 1px solid white;
}

.hour-column-label {
    font-size: 10px;
    margin-left: 3px;
}

.space {
    padding: 4px;
    font-size: 10px;
}

.list-editor-page {
    font-family: "DIN Web", "Hiragino Sans GB", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
        font-size: 15px;
        line-height: 1.33333333;
        color: #040d14;
}
