.hour-column {
    display: inline-block;
    width: 20px;
}

.hour-bar {
    background-color: blue;
    border-radius: 4px 4px 0 0;
    border: 1px solid white;
}

.hour-column-label {
    font-size: 10px;
    margin-left: 3px; 
}