#list-title {
	display: inline-block;
	margin-bottom: 0px;
	font-size: 14px;
}

.btn.dropdown-toggle {
    padding: 6.25px 12px;
}


.list-group-item-info {
    background-color: #e7fff8;
    color: #168865;
}

input[id="autocomplete-input"]:focus {
	border-color: #21ce99;

}


.glyphicon-sort-by-alphabet,
.glyphicon-sort-by-attributes {
	font-size: 17px;
}

.glyphicon-sort-by-attributes {
	margin-left: 7px;
}

.btn.dropdown-toggle {
    padding: 6.25px 12px;
}

.location {
	display: inline;
	color: grey;
}
