<ul class="list-group">
   <li class="list-group-item list-group-item-info">
      <p id="list-title">Items</p>
      <span class="glyphicon glyphicon-sort-by-alphabet pull-right"
            (click)="sortItems()"></span>
   </li>
   <li  class="list-group-item"
      *ngFor="let item of model; let i=index">
      <span class="glyphicon glyphicon-arrow-up"
            (click)="swapItems(i - 1, i)"></span>
      <span class="glyphicon glyphicon-arrow-down"
            (click)="swapItems(i, i + 1)"></span>
      {{ item.name }}
      <span class="badge">
         {{ item.price }}
      </span>
   </li>
   <li class="list-group-item">
      <div class="input-group">
         <input class="form-control"
            [placeholder]="placeholder"
            [(ngModel)]="_itemEntry.name"
            (keyup)= "autoComplete($event)"
            list = "autocomplete"
            id = "autocomplete-input"/>
            <datalist id="autocomplete" >
                <option *ngFor = "let word of autocomplete; let i = index " > {{ word.name }}</option>
            </datalist>
         <span class="input-group-btn">
            <button class="btn btn-success"
               (click)="addItem()"
               [disabled]="!_itemEntry.name">
               Add
            </button>
         </span>
      </div>
   </li>
</ul>
<!-- <pre>
    {{ model|json}}
</pre> -->
